{% set wrapperClasses = wrapperClasses is defined and wrapperClasses|length ? wrapperClasses : '' %}
{% set buttonTheme = buttonTheme is defined and buttonTheme|length ? buttonTheme : 'default' %}
{% set mobileButtons = mobileButtons is defined and mobileButtons ? mobileButtons : false %}

{% switch buttonTheme %}
    {% case "light" %}
        {% set buttonTheme = 'text-gray hover:text-black bg-gray-light hover:bg-gray-medium lg:text-black lg:bg-white lg:opacity-50 lg:hover:opacity-100' %}
    {% default %}
        {% set buttonTheme = 'text-gray hover:text-black bg-gray-light hover:bg-gray-medium' %}
{% endswitch %}

<div class="flex gap-2 {{ wrapperClasses }}">
    <button class="relative z-10 flex items-center justify-center transition duration-200 ease-in-out {{ buttonTheme }} {{ buttonClasses is defined and buttonClasses|length ? buttonClasses : ''}} {{ buttonTheme }} {{ mobileButtons ? 'mobile-button-prev' : 'button-prev'}} size-9 md:size-14">
        {{ inlineSvg('icons/arrow', 'stroke-current w-4 h-3 md:w-7 md:h-4 transform -rotate-180', { sanitize: true, namespace: true }) }}
    </button>
    <button class="relative z-10 flex items-center justify-center transition duration-200 ease-in-out {{ buttonTheme }} {{ buttonClasses is defined and buttonClasses|length ? buttonClasses : ''}} {{ mobileButtons ? 'mobile-button-next' : 'button-next'}}  size-9 md:size-14">
        {{ inlineSvg('icons/arrow', 'stroke-current w-4 h-3 md:w-7 md:h-4 ', { sanitize: true, namespace: true }) }}
    </button>
</div>
